html {
  box-sizing: border-box;
  font-family: "Helvetica", "Lato", "Lucida Grande", "Lucida Sans Unicode", "Tahoma",
    "Sans-Serif";
  font-weight: normal;
  line-height: 200%;
  color: #333333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.case_study {
 display: grid;
 grid-template-rows: auto;
}

.nav_bar {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] auto 1fr repeat(6,auto) [content-end] minmax(1rem, 10rem) [edge-end];
  grid-column-gap: 1.5rem;
  padding: 0;
  background: white;
  font-size: 18px;
  align-items: center;
  height: 110px;
  position: fixed;
  width: 100%;
  z-index: 100;
  }

.nav_bar a {
  grid-column: 2/3;
}

/* buttons */

.button1 {
  grid-column: 4/5;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

.button2 {
  grid-column: 5/6;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

.button3 {
  grid-column: 6/7;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

.button4 {
  grid-column: 7/8;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

.button5 {
  grid-column: 8/9;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

.button6 {
  grid-column: 9/10;
  font-size: 18px;
  padding: 0;
  background: white;
  border: none;
  color: black;
}

body {
  margin: 0;
}

h1 {
  font-weight: lighter;
  margin: auto;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

h2 {
  margin: auto;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

/* hero */

.container_hero {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
  grid-column-gap: 1.5rem;
  height: 50rem;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/hero_background.png");
  background-position: center;
  background-size: cover;
  padding-top: 110px;
  justify-items: center;
  align-items: center;
}

.proto_screen {
  grid-column: 2/7;
}

.proto_screen img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.newlocal_logo {
  grid-column: 7/12;
  color: white;
  text-align: center;
  line-height: 200%;
}

.newlocal_logo p {
  margin: inherit;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: lighter;
}

.button_link {
  padding: 20px 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #83B29B;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.button_link:hover {
  cursor: pointer;
}

/* Main content */

.pb_container1 {
  display: grid;
  height: 15rem;
  width: 100%;
  margin: 100px 0;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/architecture_pb.png");
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.pb_container2 {
  display: grid;
  height: 15rem;
  width: 100%;
  margin: 100px 0;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/architecture_pb.png");
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.pb_container3 {
  display: grid;
  height: 15rem;
  width: 100%;
  margin: 100px 0;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/branding_pb.png");
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.pb_container4 {
  display: grid;
  height: 15rem;
  width: 100%;
  margin: 100px 0;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/wireframes_pb.png");
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.pb_container5 {
  display: grid;
  height: 15rem;
  width: 100%;
  margin: 100px 0;
  box-sizing: border-box;
  background-image: url("../newlocal_cs_images/testing_pb.png");
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.intro {
display: grid;
grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
grid-column-gap: 1.5rem;
padding-top: 100px;
}

.roles{
grid-column: 2/7;
margin: 0 auto;
}

.roles p{
font-size: 24px;
font-weight: lighter;
padding-top: 30px;
margin: auto;
}

.tools{
grid-column: 7/12;
margin: 0 auto;
}

.tools img {
  margin: auto;
  padding-top: 30px;
}

.content {
grid-column: 4/10;
margin: auto;
padding-top: 60px;
}

.content p{
  font-size: 18px;
  padding-top: 30px;
  margin: auto;
}

/* Research */
.container_center {
display: grid;
grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
grid-column-gap: 1.5rem;
}

.content-half {
display: grid;
grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
grid-column-gap: 1.5rem;
}

.title {
  grid-column: 1/-1;
  margin: auto;
}

.center-content {
  grid-column: 4/10;
  margin: auto;
  padding-top: 30px;
}

.center-button {
  grid-column: 4/10;
  margin: auto;
  padding-top: 40px;
}

.header {
  grid-column: 1/-1;
  margin: auto;
  padding-top: 60px;
}

.content-left {
  grid-column: 2/7;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.content-right {
  grid-column: 7/12;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.content-half p {
  padding-bottom: 40px;
  text-align: left;
  margin:auto;
}

.content-quarter {
  display: inline-block;
  text-align: center;
  width: 260px;
  color: #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    padding: 16px;
    width: 260px;
    background-color: #83B29B;
    font-size: 24px;
    font-weight: lighter;
}

td {
    text-align: left;
    padding: 16px;
    font-size: 14px;
    font-weight: lighter;
    vertical-align: top;
}

tr {
    background-color: #C4C4C4
}

.male_persona{
  grid-column: 2/7;
  margin: auto;
  height: 20rem;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../newlocal_cs_images/male_persona.png);
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.female_persona{
  grid-column: 7/12;
  margin: auto;
  height: 20rem;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../newlocal_cs_images/female_persona.png);
  background-position: center;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}


/* progress animation */
.progress {
  background-color: #ffffff;
  width: 1fr;
  text-align: center;
}

.progress p{
  font-size: 20px;
}

span1{
  background-color: red;
  border-size;1px;
  height:25px;
  display: block;
  animation: prog 1.5s linear forwards;
}

span2{
  background-color: red;
  height:25px;
  display: block;
  animation: prog 1.6s linear forwards;
}

span3{
  background-color: red;
  height:25px;
  display: block;
  animation: prog 1.7s linear forwards;
}
span4{
  background-color: red;
  height:25px;
  display: block;
  animation: prog 1.8s linear forwards;
}
span5{
  background-color: red;
  height:25px;
  display: block;
  animation: prog 1.9s linear forwards;
}
span6{
  background-color: red;
  height:25px;
  display: block;
  animation: prog 2s linear forwards;
}

@keyframes prog {
  0% {width:0%; color:red;}
  50% {width:50%;
  background-color:yellow;
  color:yellow}
  100% {
    width:100%;
    background-color:green;
    color:white;
  }
}
/* Footer */

.contact {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
  grid-column-gap: 1.5rem;
  height: 400px;
  background-color: #171F1B;
  color: white;
  align-items: center;
}

.email {
  grid-column: 2/4;
}

.btn-outline {
  grid-column: 2/4;
  height: 75px;
  width: 224px;
  border-radius: 10px;
  border: #83B29B;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 18px;
}

.btn-outline:hover {
  cursor: pointer;
  border-width: 4px;
  font-size: 20px;
}

.resume:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.linkedin:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.dribbble:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.github:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.image {
  grid-column: 5/9;
  align-items: center;
  text-align: center;
}

.social {
  grid-column: 9/12;
  align-items: end;
  text-align: right;
  height: 60px;
}

.social .linkedin {
  height: 60px;
  padding-left: 1rem;
}

.social .dribbble {
  height: 60px;
  padding-left: 1rem;

}.social .github {
  height: 60px;
  padding-left: 1rem;
}

.ticker {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 10rem) [content-start] repeat(10, minmax(1rem, 1fr)) [content-end] minmax(1rem, 10rem) [edge-end];
  grid-column-gap: 1.5rem;
  background-color: #171F1B;
  color: #C8CCCA;
  font-size: 14px;
  padding-bottom: 30px;
}

.item1 {
  grid-column: 2/5;

}
.item2 {
  grid-column: 5/9;
  text-align: center;
}

.item3 {
  grid-column: 9/12;
  text-align: right;
}
